@charset "UTF-8";

h1 {
    font-family: "adobe-clean" !important;
}

.tabsBlock .tabItem:hover, .tabsBlock .tabItem.is-selected {
    color: var(--spectrum-global-color-gray-900);
    border-radius: var(--spectrum-global-dimension-size-50);
}
.spectrum--dark.tabsBlock .spectrum-Tabs .spectrum-Tabs-item.tabItem:hover, .spectrum--dark.tabsBlock .spectrum-Tabs .spectrum-Tabs-item.is-selected.tabItem {
    color: var(--spectrum-global-color-gray-50);
}
.bgBlue {
    background-color: #202947 !important;
}
.bgBlue .tabItem:hover, .bgBlue .tabItem.is-selected {
    background-color: #2e3c6a !important;
    color: var(--spectrum-global-color-gray-900) !important;
}
.bgBlue .tabView div[class^="spectrum"] > div:first-child {
    background-color: #111a35 !important;
    border-bottom: 2px solid #1d2643 !important;
}
.bgBlue pre.prism-code {
    background-color: #111a35 !important;
}
.bgBlue pre.prism-code span:first-child {
    color: #ffffff;
}
.bgBlue h3 {
    color: var(--spectrum-global-color-gray-900) !important;
}
.bgBlue p, .bgBlue .tabItem {
    color: #8194ce !important;
}

.mobileTabView{
    display: none;
}
@media screen and (max-width: 767px) {
    .tabView{
        display: none;
    }
    .mobileTabView{
        display: block;
    }
    .mobileTabView div[class^="spectrum"] {
        display: none;
    }
    .mobileTabView section div:first-child  {
        padding: 0 !important;
    }
    .bgBlue .tabItem:hover, .bgBlue .tabItem.is-selected {
        background-color: #202947 !important;
        color: #8194ce !important;
    }
}
.tabView div:last-child{
    margin-top: 0px !important;
}

@media screen and (max-width: 765px) {
    /* .tabView div[class^="spectrum"] {
        display: none;
    } */
    .bgBlue .tabItem:hover, .bgBlue .tabItem.is-selected {
        background-color: #202947 !important;
        color: #8194ce !important;
    }
}
.code-block-summary-card-height {
    height: var(--spectrum-global-dimension-size-3000) !important;
}
@media screen and (max-width: 768px) {
    .code-block-summary-card-height {
        height: 100vh !important;
    }
}
