.custom-height {
  height: 350px !important;
}

.custom-text {
  text-align: left !important;
  align-items: left !important;
}

.custom-text div {
  max-width: 500px;
}

.custom-text-sub {
  padding-bottom: -20px;
}

.custom-text ul {
  padding-top: 20px;
  padding-left: 20px;
  list-style: none;
}
.custom-text li { margin-bottom: 12px; }
.custom-text li:before {
  content: '\2714\0020';
  color: #009966;
  margin:0 5px 0 -15px;
}